body {
  background-color: #f4f6f8;
}

.wrapper {
  position: relative;
  max-width: 480px;
  min-width: 280px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 248px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
  overflow-x: hidden;
}

.container {
  background-color: #ffffff;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
}

header {
  padding: 8px 12px;
}
header i {
  font-size: 24px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form > span {
  width: 100%;
  text-align: center;
}
.search-setting-btn {
  text-decoration: none;
}
#search-btn {
  width: 100%;
}
#cancel-btn {
  width: 100%;
  display: none;
}
#cancel-btn.api-active {
  display: block;
}

#total,
#results-container {
  position: relative;
  z-index: 1;
}

#total .grid .item:nth-child(1) {
  text-align: left;
}
#total .grid .item:nth-child(2) {
  text-align: center;
}
#total .grid .item:nth-child(3) {
  text-align: right;
}
#total .count small {
  color: #6c757d;
}

#results .date {
  color: #6c757d;
  font-size: 12px;
}
#results p {
  margin: 0;
}
.result {
  grid-template-columns: 2fr 1.5fr 2fr;
  align-items: center;
}
.result h4 {
  margin: 0;
}
#results .shoot-out {
  display: block;
  text-align: center;
}
.result .item:nth-child(1) {
  text-align: right;
}
.result .item:nth-child(2) {
  text-align: center;
}
.result .item:nth-child(3) {
  text-align: left;
}
.result .win {
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
footer br {
  display: none;
}

#menu-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
  z-index: 1;
}
#menu-container {
  position: absolute;
  top: 0;
  width: 75%;
  height: 100%;
  padding: 12px;
  margin: 0;
  background-color: #ffffff;
  transform: translateX(-1000px);
  transition: 0.4s;
  z-index: 1;
}
#menu-background.active {
  display: block;
}
.wrapper.active {
  overflow: hidden;
}
#menu-container.active {
  transform: translateX(0);
}
#menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu-header span {
  font-weight: bold;
}
#menu-header i {
  font-size: 24px;
  cursor: pointer;
}

#last-search {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media only screen and (max-width: 400px) {
  .card-title span,
  .result .nickname {
    font-size: 14px;
  }
  .card-title small {
    font-size: 12px;
  }
  #total .count small {
    font-size: 12px;
  }
}
@media only screen and (max-width: 352px) {
  .card-title span,
  .result .nickname {
    font-size: 12px;
  }
  .card-title small {
    font-size: 10px;
  }
  #total .count small {
    font-size: 10px;
  }
  #results .date {
    font-size: 10px;
  }
  #results .shoot-out {
    font-size: 12px;
  }
}
@media only screen and (max-width: 290px) {
  .card-title span,
  .result .nickname {
    font-size: 10px;
  }
  .card-title small {
    font-size: 10px;
  }
  #total .count small {
    font-size: 10px;
  }
  #results .date {
    font-size: 10px;
  }
  #results .shoot-out {
    font-size: 10px;
  }
  .result h4 {
    font-size: 16px;
  }
  footer br {
    display: block;
  }
}
